In [20]:
%load_ext autoreload
%autoreload 1

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
df = pd.read_csv('datasets/weatherAUS.csv')
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [25]:
feature_names = df.columns
for i in range(len(feature_names)):
    print(str(i), "\t", str(feature_names[i]),"\t\t\t", str(type(df.iloc[0,i])))

0 	 Date 			 <class 'str'>
1 	 Location 			 <class 'str'>
2 	 MinTemp 			 <class 'numpy.float64'>
3 	 MaxTemp 			 <class 'numpy.float64'>
4 	 Rainfall 			 <class 'numpy.float64'>
5 	 Evaporation 			 <class 'numpy.float64'>
6 	 Sunshine 			 <class 'numpy.float64'>
7 	 WindGustDir 			 <class 'str'>
8 	 WindGustSpeed 			 <class 'numpy.float64'>
9 	 WindDir9am 			 <class 'str'>
10 	 WindDir3pm 			 <class 'str'>
11 	 WindSpeed9am 			 <class 'numpy.float64'>
12 	 WindSpeed3pm 			 <class 'numpy.float64'>
13 	 Humidity9am 			 <class 'numpy.float64'>
14 	 Humidity3pm 			 <class 'numpy.float64'>
15 	 Pressure9am 			 <class 'numpy.float64'>
16 	 Pressure3pm 			 <class 'numpy.float64'>
17 	 Cloud9am 			 <class 'numpy.float64'>
18 	 Cloud3pm 			 <class 'numpy.float64'>
19 	 Temp9am 			 <class 'numpy.float64'>
20 	 Temp3pm 			 <class 'numpy.float64'>
21 	 RainToday 			 <class 'str'>
22 	 RainTomorrow 			 <class 'str'>

In [26]:

feature_names = df.columns
for i in range(len(feature_names)):
    print(str(i), "\t", str(feature_names[i]),"\t\t\t", sum(df[feature_names[i]].isna()) / len(df[feature_names[i]]))

0 	 Date 			 0.0
1 	 Location 			 0.0
2 	 MinTemp 			 0.010208992162793895
3 	 MaxTemp 			 0.008669049910628352
4 	 Rainfall 			 0.022418534304963565
5 	 Evaporation 			 0.43166506256015397
6 	 Sunshine 			 0.48009762133919975
7 	 WindGustDir 			 0.0709885879279527
8 	 WindGustSpeed 			 0.07055547916953114
9 	 WindDir9am 			 0.07263852605527293
10 	 WindDir3pm 			 0.02906641000962464
11 	 WindSpeed9am 			 0.01214766946239516
12 	 WindSpeed3pm 			 0.02105046060772721
13 	 Humidity9am 			 0.018245565791282826
14 	 Humidity3pm 			 0.0309844630826344
15 	 Pressure9am 			 0.10356799120032999
16 	 Pressure3pm 			 0.10331362573903478
17 	 Cloud9am 			 0.3842155919153032
18 	 Cloud3pm 			 0.40807094733947474
19 	 Temp9am 			 0.01214766946239516
20 	 Temp3pm 			 0.02481094458957789
21 	 RainToday 			 0.022418534304963565
22 	 RainTomorrow 			 0.02245978275814657

In [27]:
uvals = {}
feature_names = df.columns
for i in range(len(feature_names)):
    uvals[feature_names[i]] = np.unique(df[feature_names[i]][df[feature_names[i]].notna()])
    # print(str(i), "\t", str(feature_names[i]),"\t", uvals[feature_names[i]])

In [28]:
high_nan = ['Evaporation', 'Sunshine', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm']
for name in high_nan:
    med_val = np.mean(uvals[name]) # drop these columns
    df[name] = df[name].fillna(med_val)

In [29]:
df = df.dropna()
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,24.666201,7.20069,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,4.5,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,24.666201,7.20069,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,4.5,4.5,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,24.666201,7.20069,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,4.5,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,24.666201,7.20069,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,4.5,4.5,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,24.666201,7.20069,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,2017-06-20,Uluru,3.5,21.8,0.0,24.666201,7.20069,E,31.0,ESE,...,59.0,27.0,1024.7,1021.2,4.5,4.5,9.4,20.9,No,No
145455,2017-06-21,Uluru,2.8,23.4,0.0,24.666201,7.20069,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,4.5,4.5,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,24.666201,7.20069,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,4.5,4.5,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,24.666201,7.20069,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,4.5,4.5,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,24.666201,7.20069,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No

In [32]:
dir_labels = ['WindGustDir', 'WindDir9am', 'WindDir3pm']
yn_labels = ['RainToday', 'RainTomorrow']

In [33]:
def dir_parser(directions):
    num_north = float(sum([c == 'N' for c in directions]))
    num_south = float(sum([c == 'S' for c in directions]))
    num_east = float(sum([c == 'E' for c in directions]))
    num_west = float(sum([c == 'W' for c in directions]))
    vec = [num_north, num_south, num_east, num_west]
    multiplier = 6 / sum(vec)
    return np.array(vec) * multiplier

def yn_parser(yn):
    return float(yn == 'Yes')

In [34]:
df[yn_labels] = df[yn_labels].applymap(yn_parser)

for dirlbl in dir_labels:
    outputs = []
    for v in df[dirlbl]:
        directions = dir_parser(v)
        outputs.append(directions)
    outputs = np.array(outputs)
    df[dirlbl + '_N'] = outputs[:,0]
    df[dirlbl + '_S'] = outputs[:,1]
    df[dirlbl + '_E'] = outputs[:,2]
    df[dirlbl + '_W'] = outputs[:,3]

C:\ProgramData\Anaconda3\envs\env_3_6\lib\site-packages\pandas\core\frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
C:\ProgramData\Anaconda3\envs\env_3_6\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\ProgramData\Anaconda3\envs\env_3_6\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\ProgramData\Anaconda3\envs\env_3_6\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\envs\env_3_6\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [35]:
tbdropped = ['Date', 'Location'] + dir_labels
df = df.drop(columns=tbdropped)
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,WindGustDir_E,WindGustDir_W,WindDir9am_N,WindDir9am_S,WindDir9am_E,WindDir9am_W,WindDir3pm_N,WindDir3pm_S,WindDir3pm_E,WindDir3pm_W
0,13.4,22.9,0.6,24.666201,7.20069,44.0,20.0,24.0,71.0,22.0,...,0.0,6.0,0.0,0.0,0.0,6.0,2.0,0.0,0.0,4.0
1,7.4,25.1,0.0,24.666201,7.20069,44.0,4.0,22.0,44.0,25.0,...,0.0,4.0,4.0,0.0,0.0,2.0,0.0,2.0,0.0,4.0
2,12.9,25.7,0.0,24.666201,7.20069,46.0,19.0,26.0,38.0,30.0,...,0.0,4.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0,4.0
3,9.2,28.0,0.0,24.666201,7.20069,24.0,11.0,9.0,45.0,16.0,...,3.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,6.0,0.0
4,17.5,32.3,1.0,24.666201,7.20069,41.0,7.0,20.0,82.0,33.0,...,0.0,6.0,2.0,0.0,4.0,0.0,3.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145454,3.5,21.8,0.0,24.666201,7.20069,31.0,15.0,13.0,59.0,27.0,...,6.0,0.0,0.0,2.0,4.0,0.0,0.0,0.0,6.0,0.0
145455,2.8,23.4,0.0,24.666201,7.20069,31.0,13.0,11.0,51.0,24.0,...,6.0,0.0,0.0,3.0,3.0,0.0,2.0,0.0,4.0,0.0
145456,3.6,25.3,0.0,24.666201,7.20069,22.0,13.0,9.0,56.0,21.0,...,0.0,2.0,0.0,3.0,3.0,0.0,6.0,0.0,0.0,0.0
145457,5.4,26.9,0.0,24.666201,7.20069,37.0,9.0,9.0,53.0,24.0,...,0.0,0.0,0.0,3.0,3.0,0.0,2.0,0.0,0.0,4.0
145458,7.8,27.0,0.0,24.666201,7.20069,28.0,13.0,7.0,51.0,24.0,...,3.0,0.0,0.0,4.0,2.0,0.0,6.0,0.0,0.0,0.0

In [38]:
feature_names = df.columns
for i in range(len(feature_names)):
    print(str(i), "\t", str(feature_names[i]),"\t\t\t", str(type(df.iloc[0,i])),"\t",sum(df[feature_names[i]].isna()) / len(df[feature_names[i]]))

0 	 MinTemp 			 <class 'numpy.float64'> 	 0.0
1 	 MaxTemp 			 <class 'numpy.float64'> 	 0.0
2 	 Rainfall 			 <class 'numpy.float64'> 	 0.0
3 	 Evaporation 			 <class 'numpy.float64'> 	 0.0
4 	 Sunshine 			 <class 'numpy.float64'> 	 0.0
5 	 WindGustSpeed 			 <class 'numpy.float64'> 	 0.0
6 	 WindSpeed9am 			 <class 'numpy.float64'> 	 0.0
7 	 WindSpeed3pm 			 <class 'numpy.float64'> 	 0.0
8 	 Humidity9am 			 <class 'numpy.float64'> 	 0.0
9 	 Humidity3pm 			 <class 'numpy.float64'> 	 0.0
10 	 Pressure9am 			 <class 'numpy.float64'> 	 0.0
11 	 Pressure3pm 			 <class 'numpy.float64'> 	 0.0
12 	 Cloud9am 			 <class 'numpy.float64'> 	 0.0
13 	 Cloud3pm 			 <class 'numpy.float64'> 	 0.0
14 	 Temp9am 			 <class 'numpy.float64'> 	 0.0
15 	 Temp3pm 			 <class 'numpy.float64'> 	 0.0
16 	 RainToday 			 <class 'numpy.float64'> 	 0.0
17 	 RainTomorrow 			 <class 'numpy.float64'> 	 0.0
18 	 WindGustDir_N 			 <class 'numpy.float64'> 	 0.0
19 	 WindGustDir_S 			 <class 'numpy.float64'> 	 0.0
20 	 WindGustDir_E 			 <class 'numpy.float64'> 	 0.0
21 	 WindGustDir_W 			 <class 'numpy.float64'> 	 0.0
22 	 WindDir9am_N 			 <class 'numpy.float64'> 	 0.0
23 	 WindDir9am_S 			 <class 'numpy.float64'> 	 0.0
24 	 WindDir9am_E 			 <class 'numpy.float64'> 	 0.0
25 	 WindDir9am_W 			 <class 'numpy.float64'> 	 0.0
26 	 WindDir3pm_N 			 <class 'numpy.float64'> 	 0.0
27 	 WindDir3pm_S 			 <class 'numpy.float64'> 	 0.0
28 	 WindDir3pm_E 			 <class 'numpy.float64'> 	 0.0
29 	 WindDir3pm_W 			 <class 'numpy.float64'> 	 0.0

In [39]:
feature_names = list(feature_names)
feature_names.pop(feature_names.index('RainTomorrow'))
feature_names += ['RainTomorrow']
df = df[feature_names]

In [40]:
df.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,WindGustDir_W,WindDir9am_N,WindDir9am_S,WindDir9am_E,WindDir9am_W,WindDir3pm_N,WindDir3pm_S,WindDir3pm_E,WindDir3pm_W,RainTomorrow
0,13.4,22.9,0.6,24.666201,7.20069,44.0,20.0,24.0,71.0,22.0,...,6.0,0.0,0.0,0.0,6.0,2.0,0.0,0.0,4.0,0.0
1,7.4,25.1,0.0,24.666201,7.20069,44.0,4.0,22.0,44.0,25.0,...,4.0,4.0,0.0,0.0,2.0,0.0,2.0,0.0,4.0,0.0
2,12.9,25.7,0.0,24.666201,7.20069,46.0,19.0,26.0,38.0,30.0,...,4.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0,4.0,0.0
3,9.2,28.0,0.0,24.666201,7.20069,24.0,11.0,9.0,45.0,16.0,...,0.0,0.0,3.0,3.0,0.0,0.0,0.0,6.0,0.0,0.0
4,17.5,32.3,1.0,24.666201,7.20069,41.0,7.0,20.0,82.0,33.0,...,6.0,2.0,0.0,4.0,0.0,3.0,0.0,0.0,3.0,0.0

In [41]:
df.columns

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'WindGustDir_N', 'WindGustDir_S',
       'WindGustDir_E', 'WindGustDir_W', 'WindDir9am_N', 'WindDir9am_S',
       'WindDir9am_E', 'WindDir9am_W', 'WindDir3pm_N', 'WindDir3pm_S',
       'WindDir3pm_E', 'WindDir3pm_W', 'RainTomorrow'],
      dtype='object')

In [44]:
df.to_csv('datasets/weatherAUS_clean.csv')