In [33]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np

In [2]:
df = pd.read_csv("datasets/weatherAUS_clean.csv")
# shuffle
df = df.sample(frac = 1)

train_proportion = 0.8
n = len(df)
print('Size of dataset: ', str(n))
# Put the first ntrain observations in the DataFrame df into the training set, and the rest into the test set
t = int(train_proportion * n)

train = df.iloc[:t].reset_index(drop=True)

test = df.iloc[t:].reset_index(drop=True)
train.to_csv("datasets/benchmark/weatherAUS_clean_train.csv", index=False)
test.to_csv("datasets/benchmark/weatherAUS_clean_test.csv", index=False)

Size of dataset:  121790

In [96]:
df = pd.read_csv("datasets/weatherAUS_clean.csv")
# shuffle
df = df.sample(frac = 1)

rain_filter = df.loc[:,"RainTomorrow"] == 1
rain_filter = rain_filter.values

all_no_rain = df.iloc[rain_filter, :]
all_no_rain = all_no_rain.iloc[:10000, :]

all_rain = df.iloc[~ rain_filter, :]
all_rain = all_rain.iloc[:10000, :]

print(all_no_rain.shape)
print(all_rain.shape)
df = pd.concat([all_no_rain, all_rain], axis = 0)
print(df.shape)

# shuffle
df = df.sample(frac = 1)

train_proportion = 0.8
n = len(df)
print('Size of dataset: ', str(n))
# Put the first ntrain observations in the DataFrame df into the training set, and the rest into the test set
t = int(train_proportion * n)

train = df.iloc[:t].reset_index(drop=True)

test = df.iloc[t:].reset_index(drop=True)
train.to_csv("datasets/benchmark/weatherAUS_clean_train.csv", index=False)
test.to_csv("datasets/benchmark/weatherAUS_clean_test.csv", index=False)

(10000, 31)
(10000, 31)
(20000, 31)
Size of dataset:  20000

In [76]:
adult_train_df = pd.read_csv("datasets/benchmark/adult_clean_train.csv")
X_adult_train = adult_train_df.loc[:, adult_train_df.columns != "income_>50k"]
country_filter = [ not "native_country" in x for x in X_adult_train.columns]
X_adult_train = X_adult_train.loc[:, country_filter]
Y_adult_train = adult_train_df["income_>50k"]

adult_test_df = pd.read_csv("datasets/benchmark/adult_clean_test.csv")
X_adult_test = adult_test_df.loc[:, adult_test_df.columns != "income_>50k"]
X_adult_test = X_adult_test.loc[:, country_filter]
Y_adult_test = adult_test_df["income_>50k"]

In [42]:
X_adult_train.describe()

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,...,relationship_ Own-child,relationship_ Unmarried,relationship_ Wife,race_ Amer-Indian-Eskimo,race_ Asian-Pac-Islander,race_ Black,race_ Other,race_ White,sex_ Female,sex_ Male
count,39073.000000,3.907300e+04,39073.000000,39073.000000,39073.000000,39073.000000,39073.000000,39073.000000,39073.000000,39073.000000,...,39073.000000,39073.000000,39073.000000,39073.000000,39073.000000,39073.000000,39073.000000,39073.000000,39073.000000,39073.000000
mean,38.653751,1.897583e+05,10.069946,1080.083306,87.594835,40.368925,0.057712,0.028843,0.063983,0.000205,...,0.156528,0.105290,0.047910,0.009521,0.030763,0.095795,0.008087,0.855834,0.332941,0.667059
std,13.731589,1.054904e+05,2.566109,7476.303992,403.056414,12.330155,0.233202,0.167369,0.244725,0.014308,...,0.363359,0.306931,0.213579,0.097109,0.172677,0.294314,0.089567,0.351263,0.471272,0.471272
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,1.176060e+05,9.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,37.000000,1.783190e+05,10.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,48.000000,2.377200e+05,12.000000,0.000000,0.000000,45.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
X_adult_train.describe()
print(X_adult_train.shape)
X_adult_train.co

(39073, 50)

In [74]:
def scale_dataset(X_train, Y_train, X_test, Y_test):
    cols = list(X_train.columns) 
    cols.append(Y_train.name)
    scaler = StandardScaler()
    scaler.fit(X_train)
    X_train_scaled = scaler.transform(X_train)
    Y_train = Y_train.values.reshape(Y_train.shape[0], 1)
    train_data = np.concatenate((X_train_scaled, Y_train), axis = 1)
    train = pd.DataFrame(train_data, columns=cols)

    X_test_scaled = scaler.transform(X_test)
    Y_test = Y_test.values.reshape(Y_test.shape[0], 1)
    test_data = np.concatenate((X_test_scaled, Y_test), axis = 1)
    test = pd.DataFrame(test_data, columns=cols)

    return train, test

In [68]:
adult_train = scale_dataset(X_adult_train, Y_adult_train)
adult_train.to_csv("datasets/normalized_benchmark/adult_clean_train.csv", index=False)

(39073, 50)
(39073, 1)
['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week', 'workclass_ ?', 'workclass_ Federal-gov', 'workclass_ Local-gov', 'workclass_ Never-worked', 'workclass_ Private', 'workclass_ Self-emp-inc', 'workclass_ Self-emp-not-inc', 'workclass_ State-gov', 'workclass_ Without-pay', 'marital_status_ Divorced', 'marital_status_ Married-AF-spouse', 'marital_status_ Married-civ-spouse', 'marital_status_ Married-spouse-absent', 'marital_status_ Never-married', 'marital_status_ Separated', 'marital_status_ Widowed', 'occupation_ ?', 'occupation_ Adm-clerical', 'occupation_ Armed-Forces', 'occupation_ Craft-repair', 'occupation_ Exec-managerial', 'occupation_ Farming-fishing', 'occupation_ Handlers-cleaners', 'occupation_ Machine-op-inspct', 'occupation_ Other-service', 'occupation_ Priv-house-serv', 'occupation_ Prof-specialty', 'occupation_ Protective-serv', 'occupation_ Sales', 'occupation_ Tech-support', 'occupation_ Transport-moving', 'relationship_ Husband', 'relationship_ Not-in-family', 'relationship_ Other-relative', 'relationship_ Own-child', 'relationship_ Unmarried', 'relationship_ Wife', 'race_ Amer-Indian-Eskimo', 'race_ Asian-Pac-Islander', 'race_ Black', 'race_ Other', 'race_ White', 'sex_ Female', 'sex_ Male', 'income_>50k']

In [81]:
adult_train, adult_test = scale_dataset(X_adult_train, Y_adult_train, X_adult_test, Y_adult_test)
adult_train = adult_train.loc[:16000, :]
adult_train.to_csv("datasets/normalized_benchmark/adult_clean_train.csv", index=False)
adult_train = adult_train.loc[:4000, :]
adult_test.to_csv("datasets/normalized_benchmark/adult_clean_test.csv", index=False)

In [13]:
wine_train_df = pd.read_csv("datasets/benchmark/wine_train.csv")

X_wine_train = wine_train_df.loc[:, wine_train_df.columns != "quality"]
Y_wine_train = wine_train_df["quality"]

wine_test_df = pd.read_csv("datasets/benchmark/wine_test.csv")
X_wine_test = wine_test_df.loc[:, wine_test_df.columns != "quality"]
Y_wine_test = wine_test_df["quality"]

In [82]:
wine_train, wine_test = scale_dataset(X_wine_train, Y_wine_train, X_wine_test, Y_wine_test)
wine_train.to_csv("datasets/normalized_benchmark/wine_train.csv", index=False)
wine_test.to_csv("datasets/normalized_benchmark/wine_test.csv", index=False)

In [53]:
a = np.ones(4)
a.reshape(a.shape[0], 1)

array([[1.],
       [1.],
       [1.],
       [1.]])

In [15]:
titanic_train_df = pd.read_csv("datasets/benchmark/titanic_clean_train.csv")
X_titanic_train = titanic_train_df.loc[:, titanic_train_df.columns != "Survived"]
Y_titanic_train = titanic_train_df["Survived"]

titanic_test_df = pd.read_csv("datasets/benchmark/titanic_clean_test.csv")
X_titanic_test = titanic_test_df.loc[:, titanic_test_df.columns != "Survived"]
Y_titanic_test = titanic_test_df["Survived"]

In [83]:
titanic_train, titanic_test = scale_dataset(X_titanic_train, Y_titanic_train, X_titanic_test, Y_titanic_test)
titanic_train.to_csv("datasets/normalized_benchmark/titanic_clean_train.csv", index=False)
titanic_test.to_csv("datasets/normalized_benchmark/titanic_clean_test.csv", index=False)

In [103]:
weatherAUS_train_df = pd.read_csv("datasets/benchmark/weatherAUS_clean_train.csv")
X_filter = ~ weatherAUS_train_df.columns.isin(["RainTomorrow", "Unnamed: 0"])
X_weatherAUS_train = weatherAUS_train_df.loc[:, X_filter]
Y_weatherAUS_train = weatherAUS_train_df["RainTomorrow"]

weatherAUS_test_df = pd.read_csv("datasets/benchmark/weatherAUS_clean_test.csv")
X_weatherAUS_test = weatherAUS_test_df.loc[:, X_filter]
Y_weatherAUS_test = weatherAUS_test_df["RainTomorrow"]

array([False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False])

In [98]:
weatherAUS_train, weatherAUS_test = scale_dataset(X_weatherAUS_train, Y_weatherAUS_train, X_weatherAUS_test, Y_weatherAUS_test)
weatherAUS_train.to_csv("datasets/normalized_benchmark/weatherAUS_clean_train.csv", index=False)
weatherAUS_test.to_csv("datasets/normalized_benchmark/weatherAUS_clean_test.csv", index=False)

In [100]:
weatherAUS_test.describe()

,Unnamed: 0,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,WindGustDir_W,WindDir9am_N,WindDir9am_S,WindDir9am_E,WindDir9am_W,WindDir3pm_N,WindDir3pm_S,WindDir3pm_E,WindDir3pm_W,RainTomorrow
count,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,...,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000,4000.000000
mean,-0.005114,0.024613,0.030913,-0.025576,-0.018242,0.013161,0.004233,-0.008460,0.013344,-0.025241,...,-0.002061,-0.012351,0.034770,-0.018737,-0.002743,-0.033777,0.033338,0.001790,-0.001319,0.499500
std,1.001229,1.002566,0.991199,0.877603,1.002535,0.998775,1.016033,0.994684,1.020849,0.985819,...,1.003456,0.998403,1.005150,0.980703,0.984890,0.977053,1.007023,1.009132,0.980221,0.500062
min,-1.796638,-2.944807,-3.454092,-0.332048,-1.325219,-2.325344,-2.191906,-1.584032,-1.979480,-3.595586,...,-0.824521,-0.824440,-0.744279,-0.745346,-0.766083,-0.760850,-0.795909,-0.732678,-0.824839,0.000000
25%,-0.845723,-0.727275,-0.707242,-0.332048,-0.948414,-0.175282,-0.811023,-0.769272,-0.749221,-0.606063,...,-0.824521,-0.824440,-0.744279,-0.745346,-0.766083,-0.760850,-0.795909,-0.732678,-0.824839,0.000000
50%,0.050138,-0.019553,-0.044209,-0.332048,-0.492282,0.132106,-0.120581,-0.070906,-0.078170,0.034550,...,-0.824521,-0.824440,-0.744279,-0.745346,-0.766083,-0.760850,-0.795909,-0.732678,-0.824839,0.000000
75%,0.783785,0.782533,0.727575,-0.158595,1.120662,0.200126,0.638905,0.511066,0.704722,0.728546,...,0.674722,0.617992,0.831679,0.849261,0.801350,0.796607,0.757716,0.888665,0.682290,1.000000
max,1.739206,2.496795,3.028895,15.070596,5.834076,2.384316,5.471996,5.748811,5.066549,1.529312,...,2.173966,2.060423,2.407638,2.443868,2.368782,2.354063,2.311340,2.510009,2.189419,1.000000